.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #c191c5;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    background-color: #fff9fd;

    /* padding: 10px; */
}

.card-header {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #c191c5;
    border-radius: 8px 8px 0 0;
    padding: 5px;
    background-color: #ad85bb;
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}


img {
    width: 95px;
    height: 95px;
}

h2 {
    text-align: center;
    color: #48004e;
}